<!DOCTYPE html>
<html>

<head>
    <title>Image Search Results</title>
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 10px;
        }

        .grid-item {
            text-align: center;
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <form action="/search" method="post">
        <input type="text" name="search_term" placeholder="Enter search term" required>
        <input type="submit" value="Search">
    </form>

    {% if image_filenames %}
    <div class="grid">
        {% for filename in image_filenames %}
        <div class="grid-item">
            <img src="{{ filename }}" alt="{{ filename }}" style="max-width: 100%;">
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!--
    file upload
-->
    <form action="/action_page.php">
        <input type="file" id="myFile" name="filename">
        <input type="submit">
    </form>

</body>


</html>