@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.about-container {
    position: relative;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Inter';
}

p {
    font-family: 'Inter';
}

.orange-box {
    background-color: rgba(166, 25, 226, 0.355);
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.content {
    text-align: center;
    color: white; 
}

.title {
    font-family: 'Inter';
    font-size: 3rem;
    margin-bottom: 20px;
}

.description {
    font-family: 'Inter';
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.worker {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: center;
}

.headshot {
    width: 120px; 
    height: 120px; 
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-family: 'Inter';
    font-weight: bold;
}

.worker-description {
    font-family: 'Inter';
    font-size: 0.8rem; 
}