.about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 120%; 
    filter: brightness(0.5); 
}

.content {
    z-index: 1;
    text-align: center;
    color: white; 
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
