.about-container {
    position: relative;
    background-size: cover;
    background-position: center;
}

.orange-box {
    background-color: rgba(166, 25, 226, 0.759);
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.content {
    text-align: center;
    color: white; 
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.worker {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: center;
}

.headshot {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-weight: bold;
}

.worker-description {
    font-size: 0.9rem;
}
