.app-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header {
    background-color: #4b0082; 
    padding: 20px;
    text-align: center;
    color: white;
    border: 2px solid black; 
    border-radius: 8px; 
}



.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://as1.ftcdn.net/v2/jpg/07/09/99/14/1000_F_709991427_RKOkVz4jtaLq8EEoLPFpCaSWY5s6wUwV.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 2; 
    z-index: -1; 
}


.file-info {
    margin-top: 10px;
}

input[type="file"] {
    background-color: #9370db; 
    border: 2px solid black; 
    border-radius: 6px;
    padding: 10px;
    color: white; 
    font-size: 16px;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #8a2be2; 
}

  