.about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}

/* .content-box {
    background-color: rgba(84, 46, 252, 0.797);
    padding: 20px;
    border: 2px solid black; 
    border-radius: 8px;
} */

.title {
    font-size: 4rem; /* Increase font size */
    margin-bottom: 20px;
}

.description {
    font-size: 2.5rem; /* Increase font size */
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
