.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: linear-gradient(to bottom right, black, purple);
    border: 2px solid black; /* Add black border */
    border-radius: 10px; /* Add border radius for rounded corners */
}

.app-header {
    text-align: center;
    padding: 20px;
    background-color: rgb(249, 67, 249);
    color: black;
}

.app-content {
    margin-top: 20px;
    text-align: center;
    color: white; /* Change text color to white */
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Change text color to white */
}

.file-info {
    background-color: #996c99;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
